body { 
  margin:0; 
  padding:4%; 
  background-color: #c6d2da;
}

/*styling table*/
.table  {
  position: relative;
  background-color:#feffdf;border-collapse:collapse;
}

th, td {
  border-bottom: 1px solid #ddd;
}
tr:hover {
  background-color: yellow;
}

/* vis and contents related */

h1{
  color: #668ba4;
}

h2 {
  font-family: 'Playfair Display', serif;
  position:center;
}
p {
  font-family: 'Playfair Display', serif;
  position:center;
}
#map {
  position: relative;
  /*border: 1px solid gray;*/
  border-radius: 0px;
  height: 700px;  
  width: 100%;  
}

#chart { 
  position: relative;
  background-color: #c6d2da ;
  height: 100%; 
  width:100%;  
  max-width: 900px;
  white-space: normal;
  border-radius: 0px;
  display: flex;

}

svg {
  position: relative; 
  border-radius: 8px;
}

/* bootstrap related */

.container, .container-fluid {
  background-color: white;
  border: gainsboro 0px;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.row {
  background-color: white;
  margin-bottom: 20px;
}

/* extra font styling */

#text-two {
  font-style: italic;
  font-size: 1em;
  padding-top: 10px;
  justify-content: space-between;
}

/* credits */

.credits  {
  font-family: 'Courier New', Courier, monospace;
  font-size: .8em;
}

#creditlines   {
  padding-top: 20px;
  padding-bottom: 10px;
  position: relative;
  white-space: normal;
}

/* first letter (not sure I'll use it though)*/
p::first-letter {
  float: center-left;
  padding-right: 1px;
  padding-left: 5px;
  font-size: 30px;
  padding-right: 1px;
  padding-left: 5px;
  color: #668ba4;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: -1px;
  margin-right: 5px;
}


/*restyling navigation bar*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

a {
  text-decoration: none;
 }
 li {
  list-style: none;
 }
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #668ba4;
  color: #feffdf;
 }

 .nav-links a {
  align-items: right;
  color:  #feffdf;
 }
 /* LOGO */
 .logo {
  font-family: 'Playfair Display', serif;
  font-size: 45px;
 }
 /* NAVBAR MENU */
 .menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  font-family: 'Playfair Display', serif;
 }
 .menu li:hover {
  background-color: black;
  border-radius: 5px;
  transition: 0.3s ease;
 }
 .menu li {
  padding: 5px 14px;
 }
